{% extends "base.html" %}
{% block title %}Bookshelf{% endblock title%}
{% block head%}
	{{ super() }}
{% endblock head %}
{% block content %}
		<div class="container">

			<main>
				<h2>{{ user.first_name|capitalize }}'s Bookshelf</h2>
				<div class="container">
					<div class="row" display="flex">
						{% for book in books %}
						<div class="col-md-4">
							<div class="card mb-4 box-shadow" display="flex">
								<img
									class="card-img-top"
									data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
									alt="Thumbnail [100%x225]"
									style="height: 225px; width: 100%; display: block"
									src="{{ url_for('static', filename='images/book_cover_placeholder.png') }}"
									data-holder-rendered="true"
								/>
								<div class="card-body">
									<p class="card-text">
                    <h5 class="card-title">{{book.title}}</h5>
									  <small class="text"> By {{book.author}} </small>
									</p>
									<p class="card-text">
										<small class="text-muted">
											Due: {{book.due_date.strftime('%a, %b %d, %Y') }}
										</small>
									</p>
									<p class="card-text">
										<a href="/books/{{book.id}}">View</a>
										{% if book.user_id == session['user_id'] %} &nbsp;|
										<a href="/books/{{book.id}}/edit">Edit</a> &nbsp;|
										<a href="/books/{{book.id}}/delete">Delete</a>
										{% endif %}
									</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</main>
		</div>
{% endblock content %}


