{% extends "base.html" %} {% block title %}Dashboard{% endblock title%} {% block
head%} {{ super() }} {% endblock head %} {% block content %} {% include
'nav.html' %}
<div class="container">
	<main>
		<div class="col-md-4">
			<h2>Hi {{ user.first_name|capitalize }}! Schedule Your Next Return</h2>
			<table class="row">
				<thead>
					<tr>
						<th>Upcoming Returns</th>
					</tr>
				</thead>
				<tbody class="all_returns">
					{% for request in requests %}
					<tr>
						<td>{{request.id}}</td>
						<td>
							<a href="/requests/{{request.id}}">View</a>
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td>Return Card</td>
					</tr>
					<tr>
						<td>Return Card</td>
					</tr>
				</tbody>
			</table>
			<table class="row">
				<thead>
					<tr>
						<th>Bookkshelf</th>
					</tr>
				</thead>
				<tbody class="all_books">
					{% for book in books %}
					<tr>
						<td>{{book.title}}</td>
						<td>
							<a href="/books/{{book.id}}">View</a>
							{% if book.user_id == session['user_id'] %} &nbsp;|
							<a href="/books/{{book.id}}/edit">Edit</a> &nbsp;|
							<a href="/books/{{book.id}}/delete">Delete</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<table class="row">
				<thead>
					<tr>
						<th>Recommended Drivers</th>
					</tr>
				</thead>
				<tbody class="all_drivers">
					<tr>
						<td>Driver Card</td>
					</tr>
					<tr>
						<td>Driver Card</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</div>
{% endblock content %}
